<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
    <div class="container">
    <h1>The movie has been rated : </h1><br>
    <img src="{{user_image}}" alt="Review could not be loaded">
    <br>
    <br>
    <br>
    <h2>Go back to main page : <a href = "{{ url_for('index') }}">Main Page</a></h2>
  </div>
    </div>
  </body>
</html>
